.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 1em auto;
}

.close {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-weight: 900;
    color: rgb(189, 189, 189);
}

.close:hover {
    color: black;
}

.X-mark {
    font-size: 2rem;
}